@model List<Ecommerce.Models.Produto>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Ecommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ecommerce.styles.css" asp-append-version="true" />

    <script src="https://kit.fontawesome.com/88cbac72fc.js" crossorigin="anonymous" defer></script>
</head>
<body>
    <section class="home">
        <nav>
            <h1>CoffeUp - Gerenciamento</h1>
            <a asp-controller="Produtos" asp-action="Index">Voltar ao Início</a>
        </nav>
        <div class="sobre">
            <div>
                <h1>Olá, administrador<br/>Gerencie aqui os produtos da CoffeUp</h1>
                <p>Use essa tela para fazer um controle geral de o que temos em estoque, tanto alterar nome, descrição e preços de produtos, quanto deletá-los.</p>
                <a asp-action="Cadastro">Adicionar produto</a>
            </div>
            <img src="~/img/graos-de-cafe-levitam-em-um-fundo-branco.jpg" alt="Grãos de café">
        </div>
        <div id="cardapio" class="containers">
            <div class="container container-amostra">
                <h3>Dê uma olhada no estoque</h3>
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            @foreach(Produto produto in Model)
            {
                <div class="container">
                    <h3>@produto.Nome</h3>
                    <p>@produto.Descricao</p>
                    <h4>R$ @produto.Preco</h4>
                    <div class="btnAcoes">
                        <a id="btnEditar" asp-action="Editar" asp-route-id="@produto.ID"><i class="fa-solid fa-pen"></i></a>
                        <a id="btnDeletar" asp-action="Deletar" asp-route-id="@produto.ID"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
            }
    </section>
</body>
</html>
